<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.xhl.dao.CardDao">

	  <!-- 查询账户-->
	<select id="queryCard" parameterType="java.util.Map" resultType="java.util.Map">
		select 
		(select BALANCE from CARD_DETAIL where  DETAIL_ID = (select max(DETAIL_ID) from CARD_DETAIL where CARD_ID = c.CARD_ID) ) BALANCE,
		c.CARD_ID,c.CARD_NAME,c.CARD_NUM,c.CARD_OWNER,c.CARD_BANK,c.REMARK,c.CARD_STATE
		from CARD_INFO c
		where 1=1
		<if test="CARD_NAME != null and CARD_NAME != '' ">
			and c.CARD_NAME like CONCAT('%',#{CARD_NAME},'%')
		</if>
		<if test="CARD_NUM != null and CARD_NUM != '' ">
			and c.CARD_NUM like CONCAT('%',#{CARD_NUM},'%')
		</if>
		<choose>
	        <when test="CARD_STATE !=null and CARD_STATE!=''">
	            and  c.CARD_STATE = #{CARD_STATE}
	        </when>
	        <otherwise>
	            and c.CARD_STATE = '00'
	        </otherwise>
    	</choose>
    </select>
	  <!-- 查询账户-->
	<select id="queryCardSum" parameterType="java.util.Map" resultType="java.util.Map">	
		select sum(a.BALANCE) BALANCE,
		'00' as  CARD_ID,
		'合计' as CARD_NAME,
		'-' as CARD_NUM,
		'-' as CARD_OWNER,
		'-' as CARD_BANK,
		'-' as REMARK,
		'-' as CARD_STATE
		from
		(
		select (select BALANCE from CARD_DETAIL where  DETAIL_ID = (select max(DETAIL_ID) from CARD_DETAIL where CARD_ID = c.CARD_ID) ) BALANCE
				from CARD_INFO c
					where 1=1
			<if test="CARD_NAME != null and CARD_NAME != '' ">
				and c.CARD_NAME like CONCAT('%',#{CARD_NAME},'%')
			</if>
			<if test="CARD_NUM != null and CARD_NUM != '' ">
				and c.CARD_NUM like CONCAT('%',#{CARD_NUM},'%')
			</if>
			<choose>
		        <when test="CARD_STATE !=null and CARD_STATE!=''">
		            and  c.CARD_STATE = #{CARD_STATE}
		        </when>
		        <otherwise>
		            and c.CARD_STATE = '00'
		        </otherwise>
	    	</choose>
		) a
	</select>
	
		  <!-- 新建账户-->
	<insert id="addCard" parameterType="java.util.Map">
		insert into CARD_INFO
		(CARD_NAME,CARD_NUM,CARD_OWNER,CARD_BANK,REMARK,CARD_STATE)
		values
		(#{CARD_NAME},#{CARD_NUM},#{CARD_OWNER},#{CARD_BANK},#{REMARK},#{CARD_STATE})
	</insert>
	
	  <!-- 修改账户-->
	<update id="editCard" parameterType="java.util.Map">
		update CARD_INFO
		set CARD_NAME = #{CARD_NAME},
			CARD_NUM = #{CARD_NUM},
			CARD_OWNER = #{CARD_OWNER},
			CARD_BANK = #{CARD_BANK},
			REMARK = #{REMARK}
		where CARD_ID = #{CARD_ID}
	</update>
	
	  <!-- 启用停用账户-->
	<update id="optCard" parameterType="java.util.Map">
		update CARD_INFO
		set CARD_STATE = #{CARD_STATE}
		where CARD_ID = #{CARD_ID}
	</update>
	
	  <!-- 查询账户明细-->
	<select id="queryDetail" parameterType="java.util.Map" resultType="java.util.Map">
		select
		DETAIL_ID,
		DETAIL_NUM,
		DETAIL_DATE,
		DETAIL_EXPLAIN,
		AMOUNT,
		PAY_TYPE,
		BALANCE,
		PAY_CLASS,
		PAY_EXPLAIN,
		BILL_NUM,
		REMARK,
		CARD_ID
		from CARD_DETAIL
		where CARD_ID = #{CARD_ID}
		<if test="START_TIME!=null and START_TIME!='' ">
			and DETAIL_DATE &gt;= #{START_TIME}
		</if>
		<if test="END_TIME!=null and END_TIME!=''">
			and DETAIL_DATE &lt;= #{END_TIME}
		</if>
		<if test="PAY_CLASS!=null and PAY_CLASS!=''">
			and PAY_CLASS = #{PAY_CLASS}
		</if>
		<if test="PAY_TYPE!=null and PAY_TYPE!=''">
			and PAY_TYPE = #{PAY_TYPE}
		</if>
		order by DETAIL_NUM desc
		
		
	</select>
	
	  <!-- 查询账户明细的合计-->
	<select id="queryDetailSum" parameterType="java.util.Map" resultType="java.util.Map">
		select
		'00' as DETAIL_ID,
		'-' as DETAIL_NUM,
		'合计' as DETAIL_DATE,
		'-' as DETAIL_EXPLAIN,
		(select sum(REAL_AMOUNT) from CARD_DETAIL 
			where CARD_ID = #{CARD_ID}
		<if test="START_TIME!=null and START_TIME!='' ">
			and DETAIL_DATE &gt;= #{START_TIME}
		</if>
		<if test="END_TIME!=null and END_TIME!=''">
			and DETAIL_DATE &lt;= #{END_TIME}
		</if>
		<if test="PAY_CLASS!=null and PAY_CLASS!=''">
			and PAY_CLASS = #{PAY_CLASS}
		</if>
		<if test="PAY_TYPE!=null and PAY_TYPE!=''">
			and PAY_TYPE = #{PAY_TYPE}
		</if>) as AMOUNT,
		'-' as PAY_TYPE,
		'-' as BALANCE,
		'-' as PAY_CLASS,
		'-' as PAY_EXPLAIN,
		'-' as BILL_NUM,
		'-' as REMARK,
		'-' as CARD_ID
		from dual
	</select>
	
	
	
	
	
	
	  <!-- 查询当前余额-->
	<select id="getBalance" parameterType="java.util.Map" resultType="java.math.BigDecimal">
		select BALANCE
		from CARD_DETAIL
		where  DETAIL_ID = (select max(DETAIL_ID) from CARD_DETAIL where CARD_ID = #{CARD_ID})
		
	</select>
	
	  <!-- 最新日期 -->
	<select id="getDate" parameterType="java.util.Map" resultType="java.lang.String">
		select DETAIL_DATE
		from CARD_DETAIL
		where  DETAIL_ID = (select max(DETAIL_ID) from CARD_DETAIL where CARD_ID = #{CARD_ID})
		
	</select>

		  <!-- 新建明细-->
	<insert id="addDetail" parameterType="java.util.Map">
		insert into CARD_DETAIL
		(DETAIL_NUM,DETAIL_DATE,DETAIL_EXPLAIN,AMOUNT,PAY_TYPE,BALANCE,PAY_CLASS,
		PAY_EXPLAIN,BILL_NUM,REMARK,CARD_ID,REAL_AMOUNT,DEPOSIT_STATE)
		values
		(#{DETAIL_NUM},#{DETAIL_DATE},#{DETAIL_EXPLAIN},${AMOUNT},#{PAY_TYPE},${BALANCE},#{PAY_CLASS},
		#{PAY_EXPLAIN},#{BILL_NUM},#{REMARK},#{CARD_ID},#{REAL_AMOUNT},#{DEPOSIT_STATE})
	</insert>
	
	  <!-- 修改明细-->
	<update id="editDetail" parameterType="java.util.Map">
		update CARD_DETAIL
		set PAY_CLASS = #{PAY_CLASS},
		DETAIL_EXPLAIN = #{DETAIL_EXPLAIN},
		BILL_NUM = #{BILL_NUM},
		PAY_EXPLAIN = #{PAY_EXPLAIN},
		REMARK = #{REMARK}
		where DETAIL_ID = #{DETAIL_ID}
	</update>
	
	
	  <!-- 删除最近一条明细记录-->
	<delete id="delDetail" parameterType="java.util.Map">
		delete from CARD_DETAIL
		where DETAIL_ID = (select c.DETAIL_ID from 
		(select max(DETAIL_ID) as DETAIL_ID from CARD_DETAIL where CARD_ID = #{CARD_ID}) c)
	</delete>
	
	  <!-- 查询根据类别统计信息-->
	<select id="queryStatistic" parameterType="java.lang.String" resultType="java.util.Map">
		select '工资' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '00'
			<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '00'
			<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '00'
			<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '往来款' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '01'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '01'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '01'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '保证金' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '02'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '02'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '02'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '工程款' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '03'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '03'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '03'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '餐费' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '04'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '04'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '04'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '日常花销' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '05'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '05'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '05'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '工程花销' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '06'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '06'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '06'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '开标费用' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '07'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '07'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '07'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '货款' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '08'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '08'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '08'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '收入' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '09'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '09'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '09'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '其他' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' and PAY_CLASS = '10'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' and PAY_CLASS = '10'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_CLASS = '10'
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
		union all
		select '合计' as NAME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '00' 
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as INCOME,
		(select sum(AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} and PAY_TYPE = '01' 
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as EXPEND,
		(select sum(REAL_AMOUNT) from CARD_DETAIL where CARD_ID = #{CARD_ID} 
		<if test="START_TIME!=null and START_TIME!='' ">
				and DETAIL_DATE &gt;= #{START_TIME}
			</if>
			<if test="END_TIME!=null and END_TIME!=''">
				and DETAIL_DATE &lt;= #{END_TIME}
			</if>) as BALANCE
		from dual
	</select>
	
	
	
	
	
	
	 <!-- 查询具体款项-->
	<select id="queryContent" parameterType="java.util.Map" resultType="java.util.Map">
		select
		CONTENT_ID,
		CONTENT_DATE,
		CONTENT_NAME,
		AMOUNT,
		CONTENT_TYPE,
		REMARK,
		DETAIL_ID
		from CONTENT_INFO
		where DETAIL_ID = #{DETAIL_ID}
		order by CONTENT_ID desc
	</select>
	
	  <!-- 查询具体款项的合计-->
	<select id="queryContentSum" parameterType="java.util.Map" resultType="java.util.Map">
		select
		'00' as CONTENT_ID,
		'合计' as CONTENT_DATE,
		'-' as CONTENT_NAME,
		(select sum(AMOUNT) from CONTENT_INFO where DETAIL_ID = #{DETAIL_ID}) as AMOUNT,
		'-' as CONTENT_TYPE,
		'-' as REMARK,
		'-' as DETAIL_ID
		from dual

	</select>
	
	
			  <!-- 新建具体款项-->
	<insert id="addContent" parameterType="java.util.Map">
		insert into CONTENT_INFO
		(CONTENT_DATE,CONTENT_NAME,CONTENT_TYPE,AMOUNT,REMARK,DETAIL_ID)
		values
		(#{CONTENT_DATE},#{CONTENT_NAME},#{CONTENT_TYPE},${AMOUNT},#{REMARK},#{DETAIL_ID})
	</insert>
	
	  <!-- 修改具体款项-->
	<update id="editContent" parameterType="java.util.Map">
		update CONTENT_INFO
		set CONTENT_DATE = #{CONTENT_DATE},
		CONTENT_NAME = #{CONTENT_NAME},
		CONTENT_TYPE = #{CONTENT_TYPE},
		AMOUNT = ${AMOUNT},
		REMARK = #{REMARK}
		where CONTENT_ID = #{CONTENT_ID}
	</update>
	
	
	  <!-- 删除具体款项-->
	<delete id="delContent" parameterType="java.util.Map">
		delete from CONTENT_INFO
		where CONTENT_ID = #{CONTENT_ID}
	</delete>
	
</mapper>