@charset "utf-8";
* {margin:0;padding:0;}
body,html {overflow-x:hidden;overflow-y: hidden;height:100%;font-size:12px;font-family:"微软雅黑", arial;}
body {/*overflow:hidden;min-width:1000px;overflow-x:scroll;*/}
img {border:none;}
ul,ol {margin:0;padding:0;}
ul,li {list-style:none;}
a {color:#fff;text-decoration:none;}
a:hover {color:#fff;text-decoration:none;}

/*首页展示*/
.main_index {}
/*整体*/
.work-routine-calendar, .work-backlog-remind-task {overflow:hidden;padding-top:15px;position:relative;}
.work-backlog-remind-task {min-height:288px;}
/*标题*/
.ecitic-title {position:relative;height:26px;line-height:26px;margin-bottom:10px;border-bottom:3px solid #ccc;padding-bottom:4px;}
.ecitic-title .more{position:absolute;right:-24px;border:none;font-size:12px;}
.ecitic-title .more i.fa{text-align: left;padding-left: 4px;float: right;}
.ecitic-title .more:hover{font-weight:bold;text-decoration: underline;cursor:pointer;}
.ecitic-title span i.fa{float:left;line-height:26px;text-align: center;/* margin-right: 5px; */background: none;}
.ecitic-title span.title {font-size:15px;height:30px;float:left;margin-right:5px;}
.ecitic-title em {float:left;font-size:15px;font-style:normal;height:30px;line-height:29px;}
.ecitic-title span em {width:11px;height:6px;display:block;margin:-2px auto 0 auto;/*background:url(../img/icon_ecitic.png) no-repeat;background-position:-187px -192px;*/}
/*常用功能*/
.work-backlog-routine {padding:0 !important;}
/* .work-routine-left {margin-right:345px;overflow:hidden;} */
.work-routine {height:280px;overflow:hidden;}
.word-content {/* height: 210px; */margin-left:-11px;overflow:hidden;}
.word-content li {width: 21.5%;height: 70px;float:left;display:inline;margin: 0 0 3% 3%;/* padding:15px 0; */text-align:center;border:1px solid #ddd;position:relative;}
.word-content li:hover {cursor:pinter;background-color:#fdfdfd;}
.word-content li:hover span {cursor:pointer;}
.word-content .work-add {border:1px solid #ebebeb;background-image:url(../img/icon_work.png);background-repeat:no-repeat;background-position:center center;background-color:#fff;background-size: 30px;}
.word-content .work-add:hover {border:1px solid #d5d5d5;background-image:url(../img/icon_work_hover.png);background-color:#fdfdfd;cursor:pointer;}
.word-content i {width:9px;height:9px;display:block;position:absolute;top:5px;right:5px;}
.word-content li:hover i {background:url(../img/icon_ecitic.png) no-repeat -30px -95px;cursor:pointer;}
.word-content .word-content-img {width:42px;/* height:54px; */display:block;margin: 10px auto 2px auto;/*! overflow:hidden; */}
.word-content .word-content-img img {width: 24px;/* height:54px; */}
.word-content .word-content-text {width:100%;height:20px;font-size:12px;line-height:20px;color:#333;display:block;margin:0 auto;overflow:hidden;}
/*弹出框*/
.work-add-popup-all {width:460px;position:fixed;top:20%;left:50%;margin:-146px 0 0 -300px;background:#fff;border:1px solid #AE0A29;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;z-index:1050;display:none;}
.work-add-popup-all i {position:absolute;right:-14px;top:-14px;background:url(../img/icon_ecitic.png) no-repeat -86px -75px #fff;display:block;width:27px;height:27px;border:1px solid #AE0A29;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;cursor:pointer;}
.work-add-popup-all i:hover {background-color:#f4f4f4;cursor:pointer;}
.work-add-popup {height:260px;margin:15px;overflow:hidden;overflow-y:auto;}
.work-add-popup li {float:left;margin:1%;padding:0 1%;display:inline;color:#333;background:#ebebeb;width:29.333%;height:32px;line-height:32px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.work-add-popup li:hover {background:#AE0A29;color:#fff;cursor:pointer;}
.work-add-popup-all-pop {width:460px;position:fixed;top:50%;left:50%;margin:-130px 0 0 -230px;background:#fff;border:1px solid #AE0A29;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;z-index:1050;display:none;}
.work-add-popup-all-pop i {position:absolute;right:-14px;top:-14px;background:url(../img/icon_ecitic.png) no-repeat -86px -75px #fff;display:block;width:27px;height:27px;border:1px solid #AE0A29;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;cursor:pointer;}
.work-add-popup-all-pop i:hover {background-color:#f4f4f4;cursor:pointer;}
.work-add-popup-pop {height:260px;margin:15px;overflow:hidden;overflow-y:auto;}
.work-add-popup-pop li {float:left;margin:1%;padding:0 1%;display:inline;color:#333;background:#ebebeb;width:29.333%;height:32px;line-height:32px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.work-add-popup-pop li:hover {background:#AE0A29;color:#fff;cursor:pointer;}
.modal-backdrop {position:fixed;top:0;right:0;bottom:0;left:0;z-index:997;background-color:#000;}
.modal-backdrop.fade {opacity:.2;filter:alpha(opacity=20);-webkit-transition:opacity .15s linear;-moz-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear;}
/*日历*/
.work-calendar-right {width:320px;height:280px;position:absolute;right:0;top:15px;overflow:hidden;}
.work-calendar {height:280px;margin-bottom:20px;overflow:hidden;}
/*我的待办-我的提醒*/
.work-backlog-remind-left {/* margin-right: 500px; *//* display:inline-block; */width: 49%;padding-right:20px;box-sizing:border-box;/* margin-right:20px; */float: left;overflow:hidden;}
/*我的待办*/
.work-backlog-content li span b{font-weight:100;padding-left:55px;}
.work-backlog-content li button{padding:2px 5px;font-size:12px;margin-top: 6px;position: absolute;right: 18px;}
.work-backlog-content .workTime{font-weight:100;text-align: right;right: 70px;position: absolute;}
.work-task-right-cont{/* width:420px; */height:207px;}
.work-backlog {float:left;width: 49%;padding-right:20px;box-sizing:border-box;}
.selectDate{float:right!important;width:auto!important;border:none!important;text-align:right!important;
			box-shadow: none !important;cursor:pointer;margin-right: 15px;}
.selectDate:hover{color:#a80e15;}
.work-backlog-content, .work-remind-content {
	background: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    height: 190px;
}

.work-backlog-content.work-backlog-contentPOP {
    height: auto!important;
}
.work-remind-content li b{float:right;font-weight:normal;}
.work-backlog-content li, .work-remind-content li, .work-remind-more li {height:34px;line-height:34px;color:#333;border-bottom:1px dashed #ccc;position:relative;margin-right: 5px;}
.work-backlog-content li:hover, .work-remind-content li:hover, .work-remind-more li:hover {cursor:pointer;}
.work-backlog-content li:hover i, .work-remind-content li:hover i, .work-remind-more li:hover i {background:#AE0A29;}
.work-remind-content li:hover em {opacity:1;filter:alpha(opacity=100);}
.work-remind-more li:last-child {border-bottom:none;}
.work-backlog-content li i, .work-remind-content li i, .work-remind-more li i {width:5px;height:5px;display:block;position:absolute;left:0;top:16px;border-radius:50%;}
.work-backlog-content li span, .work-remind-content li span, .work-remind-more li span {float:left;font-size: 14px;width: 58%;height:34px;line-height:34px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:0 21px 0 9px;}
.work-backlog-content li em, .work-remind-content li em, .work-remind-more li em, .work-remind-content .work-clear, .work-remind-more .work-clear {min-width:20px;min-height:20px;font-size:12px;line-height:20px;font-style:normal;display:block;position:absolute;right:0;top:10px;background:#000;color:#fff;border-radius:50%;text-align:center;opacity:.5;filter:alpha(opacity=50);-moz-user-select:none;/*火狐*/-webkit-user-select:none;/*webkit浏览器*/-ms-user-select:none;/*IE10*/-khtml-user-select:none;/*早期浏览器*/}
.work-backlog-content li em.project-backlog-num-special{background-color:#D23131;opacity:1;filter:alpha(opacity=100);}
/*我的提醒*/
.work-remind {float:right;width:100%;/* padding-left:12px; */box-sizing:border-box;}
.work-work-more-all {position:relative;background:#fff;display:none;}
.work-work-more-all .work-ast01, .work-work-more-all .work-ast02 {width:0;height:0;display:block;border-width:7px;border-style:solid;position:absolute;left:20px;}
.work-work-more-all .work-ast01 {border-color:transparent transparent #fff transparent;top:-13px;z-index:10;}
.work-work-more-all .work-ast02 {border-color:transparent transparent #AE0A29 transparent;top:-14px;z-index:1;}
.work-remind-more {border:1px solid #AE0A29;width:320px;border-radius:3px;padding:0 10px;max-height:150px;overflow:hidden;overflow-y:auto;}

.work-remind-content.work-remind-contentPOP{height:auto!important;}
.work-remind-more li span {width:92%;margin:0 25px 0 9px;}
.work-remind-more li .work-clear, .work-remind-content .work-clear {min-width:9px;min-height:9px;width:9px;height:9px;background-color:none;background:url(../img/icon_ecitic.png) no-repeat -30px -95px;border-radius:0;display:none;}
.work-remind-more li .work-clear {top:14px;}
.work-remind-content .work-clear {top:15px;right:25px;}
.work-remind-more li:hover .work-clear, .work-remind-content li:hover .work-clear {display:block;background-color:none;}
.work-remind-content .work-clear:hover {background-color:none;}
.work-work-more-bottom {}
.work-work-more-bottom .work-ast01 {border-color:#fff transparent transparent transparent;top:auto;bottom:-13px;z-index:10;}
.work-work-more-bottom .work-ast02 {border-color:#AE0A29 transparent transparent transparent;top:auto;bottom:-14px;z-index:1;}
.work-remind-content li em.project-backlog-num-special{background-color:#D23131;opacity:1;filter:alpha(opacity=100);}
/*我的任务*/	
.work-task-right {/* width:420px; */width: 49%;float:left;/* margin-right: 20px;height:288px; *//* position:absolute;right:0;top:15px;overflow:hidden; */}
.tabD{width:96.5%;}
/* .main_iframe{padding: 0 5px 0 0;} */
.indexContent{margin-top:15px;}

/* tab */
.tabContList{display:none;}
.tab{list-style:none;float:right;margin-top: 45px;}
.tab li.tabBtn{font-size: 12px;line-height: 15px;position:relative;background:#EA9906;color:#fff;border-bottom:2px solid #fff;text-align:center;cursor:pointer;width: 14px;padding: 5px;padding-right: 5px;/* margin-right: -5px; */}
.tab li.tabBtn:hover{background:#1f262d;}
.tab li.tabBtn:hover .tabsArrow{ border-right-color: #1f262d;}
.on{display:block;}
.tab li.cur{background:#b77409;}
.tabsArrow{display: inline-block;position: absolute;z-index: 1;border: 6px solid transparent;border-right-color: #EA9906;top: 30px;left: -12px;}
.bootstrapTabs.nav-tabs{height:26px;}

.tabContListTab2_right,.tabContListTab2_left{float:left;}
.tabContListTab2_left{width: 95%;margin-top: 0;}
.tabContListTab2_right{margin-left:15px;width:22%;margin-top: 15px;background:#pink;}
.tabContListTab2_leftW{width: 95%;margin-top: 0;margin-left:15px;}
/*指标*/
.managePointDiv{border:1px solid #ddd;margin-bottom:30px;}
table.managePoint{border:none;}
.managePoint.table-bordered th, .managePoint.table-bordered td{border-left:none;}
.riskand tr td span{display: inline-block;height: 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 220px;}
/* 管理视图 */
/* 需求tab */
.needsTab_left,.needsTab_right{float:left;margin-top:10px;}
.needsTab_leftps{font-size:12px;color:#AE0A29;text-align:left!important;line-height:20px!important;}
.needsTab_left{width:35%;margin-top: 30px;}
.needsTab_right{width:65%;/* background:#ddd; */margin-top: 0;/*! position: relative; *//*! z-index: 1111111111111111111111; */}
.table th, .table td{vertical-align: middle;}
.main_iframe_con{margin-bottom:25px;font-size: 14px;overflow: hidden;overflow-y: auto;}

.needsTab_leftW{width:45%;margin-top: 30px;float:left;margin-left:45px;}
.AnnualTaskW{width:80%;margin-left:5px;}
.AnnualTaskR{width:95%;margin-left:20px;}
.needsTab_rightW{width:45%;margin-top: 30px;float:right;}
.needsTab_rightR{width:65%;margin-top: 0;float:right;}
.needsTab_rightT{width:65%;margin-top: 30px;float:right;}
/* 年度任务 */
.AnnualTask{width:50%;}
.AnnualTask_needsTab_right{width:50%;}
.AnnualTask_needsTab_right img{margin-left:45px;}
/* 指标分析 */
.ecitic-title-analysis{width:100%;}
/* reset */
.borderNone{border:none!important;}
.modal-body a {color: #AE0A29;text-decoration: none;}
.modal-body a:hover{text-decoration: underline;cursor:pointer;}
.table-bordered {border-radius: 0;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{border-radius:0;box-shadow:none;width: 100%;padding: 4px 0;text-indent:.5em;margin-bottom: 0;}
.ecitic-title-table .table-text {
    text-align: right;
    font-weight: bold;
    color: #454545;
}
/*pop--提示*/
/* .modal-backdrop, .modal-backdrop.fade.in {opacity:.2;filter:alpha(opacity=20);} */
.modal {z-index: 11111;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);width:700px;}/*660px*/
.modal-body {position:relative;/* height: 250px; */max-height: 270px;padding:15px;overflow-y: auto;}
.modal-body .ecitic-title-table {margin-bottom:0;}
.modal {top:10%;}/*top:50%;*/
.modal.fade.in {top:10%;}/*top:50%;*/
.modal.fade {top:10%;}
.modal-header {padding:5px 15px;height:31px;border-bottom:1px solid #eee;overflow:hidden;}
.modal-header h3, .modal-header h5 {margin:0;font-size:16px;line-height:30px;font-weight:normal;}
.modal-header .close {font-size:20px;font-weight:normal;height:30px;line-height:30px;margin:0;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20);}
.modal-body p {overflow:hidden;margin:0;}
.modal-body .msmenu_context-input {width:335px;overflow:hidden;float:left;display:inline;margin:0;}
.modal-body .msmenu_context-input span {float:left;padding-left:5px;display:block;height:28px;line-height:28px;text-align:right;overflow:hidden;}
.modal-body .msmenu_context-input div {width:260px;float:left;text-align:left;padding:0 5px;}
.modal-body .msmenu_context-input div input {width:100% !important;}
.modal-body .msmenu_context-input div textarea {width:100% !important;height:60px;}
.modal-footer {/* background:#fff; *//* padding:0 18px 15px 15px; */-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.modal-footer .btn {float:right;margin:0 0px 0 20px;}
.modal .row {margin-left:0px;margin-bottom:15px;padding:0 5px;}
.table .ztree {margin-top:25px;}
/*弹出*/
.modal .span6 {width:330px;position:relative;}
.modal .span6 input {min-width:188px;width:188px !important;float:left;}
.modal .span6 .select2-container {width:188px;float:left;}
/*.modal .span6 .select2-container .select2-choice {width:185px;} */
.modal .span6 strong {color:#c00;float:right;width:8px !important;height:28px;line-height:28px;text-align:right;display:block;font-weight:normal;}
.modal .pl60 {float:left;width:130px;text-align:right;height:28px;line-height:28px;margin-bottom:0;padding:0;}
.modal form {margin:0;padding:20px 0 0 0;}
.modal .modal-footer {border-top:none;}
.modal [class*="span"] {margin-left:0;margin-right:15px;}
.modal .span12 .span6 {margin-left:0;}
.modal .span12 textarea {width:537px;height:60px;}
.modal form .ztree {margin-top:27px;}

/*按钮*/
.btn-ecitic {color: #fff;background-color: #AE0A29;border-color: #AE0A29;margin: 0;}
.btn-ecitic:hover {color: #fff;background-color: #a80e15;border-color: #a80e15;}
.btn {text-shadow: none;display: inline-block;float: left;
    padding: 4px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: "微软雅黑", arial;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.ecitic-save {margin-top: 15px;}
.ecitic-save {width: 100%;margin: 15px auto 15px 0;text-align: center;}
.ecitic-save .btn {float: none;}
.ecitic-save input, .ecitic-save button {margin: 0 20px;}
/*输入框选中颜色*/
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color: rgba(201,22,29,0.8);
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #E01A38;
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #E01A38;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #E01A38;}

/* boothtrapTabs */
.bootstrapTabs a{color:#454545;}
.bootstrapTabs a:hover{color:#454545;}
.bootstrapTabs.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{color: #454545;cursor: default;background-color: #ffffff;border: 1px solid #dddd;border-bottom-color: transparent;/*! background: #d20000; */}
.bootstrapTabs.nav-tabs > .active > a:hover{background:#fff;}
.bootstrapTabs.nav-tabs > li > a {padding-top: 5px;padding-bottom: 5px;line-height: 15px;border: 1px solid #ddd;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;background: #ddd;font-size: 14px;}
.bootstrapTabs.nav-tabs {border-bottom: 1px solid #ddd;min-width: 100%;}
.bootstrapTabs.nav > li > a:hover, .nav > li > a:focus{border-bottom:1px solid transparent;background:#eee;}
/* .bootstrapTabsCont .ecitic-title span{font-size:16px;} */
.bootstrapTabsCont  .select2-container{width: 100% !important;}
/*多选-单选*/
.ecitic-radio-all {float:left;position:relative;}
.lm47 {left:50%;margin-left:-47px;}
.ecitic-checkbox, .ecitic-radio {height:14px;line-height:14px;overflow:hidden;}
.ecitic-checkbox label, .ecitic-radio label {font-weight:normal;font-size:14px;font-family:"微软雅黑", arial;}
.ecitic-checkbox span, .ecitic-radio span {display: block;width:14px;height:14px;background:url(../img/icon_ecitic.png) no-repeat;background-position:-5px -254px;position:relative;margin:0 auto;cursor:pointer;}
.ecitic-checkbox-inline, .ecitic-radio-inline {float:left;margin:0 15px 0 0;padding:3px 0;}
.ecitic-checkbox-inline span, .ecitic-radio-inline span {margin-right:5px;}
.ecitic-checkbox-inline label, .ecitic-radio-inline label {height:14px;line-height:14px;margin-bottom:0;}
.ecitic-checkbox-inline input, .ecitic-radio-inline input {margin:1px 3px 0px 0px;}
.ecitic-checkbox-inline span, .ecitic-radio-inline span, .ecitic-checkbox-inline label, .ecitic-radio-inline label, .ecitic-checkbox-inline input, .ecitic-radio-inline input {float:left;}
.ecitic-radio span {background-position:-78px -254px;}
.ecitic-checkbox span input, .ecitic-radio span input {position:absolute;left:0;top:0;display:inline-block;width:14px;height:14px;margin:0;padding:0;border:0;opacity:0;filter:alpha(opacity=0);}
.ecitic-checkbox span:hover {background-position:-29px -254px;}
.ecitic-checkbox .checkd, .ecitic-checkbox span.checkd {background-position:-53px -254px;}
.ecitic-radio span:hover {background-position:-103px -254px;}
.ecitic-radio .checkd, .ecitic-radio span.checkd {background-position:-128px -254px;}
.barChartAnisi{width:65%;}
.barChartAnisiCont{width:200px;}

.ecitic-title i {float: right;width: 30px;height: 30px;display: block;background: url(../img/icon_ecitic.png) no-repeat;background-position: -133px -207px;}
.fa-exclamation{float:right;color:red;}
/* 管理视图 */
.bootstrapTabsCont{margin-left:-10px;margin-bottom:25px;}
.bootstrapTabsCont .echartsWrap{width:23.8%;height: 275px;margin-left:1%;border:1px solid #ddd;background:#f5f5f5;float:left;margin-top: 15px;/* border:1px solid red; */position: relative;}
.bootstrapTabsCont .echartsWrap:hover{cursor:pointer;background:#fff;box-shadow:0 0 10px #bbb;}
.bootstrapTabsCont .echartsWrap .echartsWrapCont{width:240px;height:220px;float:left;/* border:1px solid black; */}
.bootstrapTabsCont .echartsWrap .echartsWrap_Title{font-size: 16px;padding-top:15px;padding-left:30px;margin-bottom: -15px;}
.bootstrapTabsCont .echartsWrap .echartsWrap_Title span{font-size:12px;}
.bootstrapTabsCont .echartsWrap .psData{display: flex;margin-top: -30px;padding: 5px 0;width:100%;background-color: #FAEBD7;position: absolute;bottom: 0;}
.bootstrapTabsCont .echartsWrap .psData ul li{float:left;margin-right:30px;}
.bootstrapTabsCont .echartsWrap .psData ul {padding-left:15px;}

.bootstrapTabsCont .echartsWrapW{width:98%;height: 275px;margin-left:1%;float:left;margin-top: 15px;position: relative;}
.bootstrapTabsCont .echartsWrapW .echartsWrapContW{width:95%;height:260px;float:left;}
.bootstrapTabsCont .echartsWrapR{width:90%;height: 275px;margin-left:1%;float:left;margin-top: 15px;position: relative;}
.bootstrapTabsCont .echartsWrapR .echartsWrapContR{width:440px;height:220px;float:left;}
.bootstrapTabsCont .echartsWrapZ{width:90%;height: 275px;margin-left:1%;float:left;margin-top: 20px;position: relative;}
.bootstrapTabsCont .echartsWrapZ .echartsWrapContZ{width:540px;height:240px;float:left;}
.bootstrapTabsCont .echartsWrapK{width:90%;height: 275px;margin-left:1%;float:left;margin-top: 20px;position: relative;}
.bootstrapTabsCont .echartsWrapK .echartsWrapContK{width:640px;height:250px;float:left;}
.bootstrapTabsCont .echartsWrapH{width:98%;height: 455px;margin-left:1%;float:left;margin-top: 15px;position: relative;}
.bootstrapTabsCont .echartsWrapH .echartsWrapContH{width:95%;height:440px;float:left;}
.bootstrapTabsCont .echartsWrapRT{width:90%;height: 255px;margin-left:1%;float:left;margin-top: 0px;position: relative;}
.bootstrapTabsCont .echartsWrapRT .echartsWrapContRT{width:440px;height:200px;float:left;}
.bootstrapTabsCont .echartsWrapZT{width:90%;height: 275px;margin-left:1%;float:left;margin-top: 0px;position: relative;}
.bootstrapTabsCont .echartsWrapZT .echartsWrapContZT{width:540px;height:220px;float:left;}
/*添加*/
.echartsWrapAdd{text-align:center;}
.echartsWrapAdd img{margin-top: 114.5px;}
/* 管理视图——需求统计分析 版本二 */
.manageView_tab2Main{}
.manageView_tab2Sub{display:none;margin-bottom:50px;}
.manageView_tab2SubClose{margin-bottom:50px;}
.manageView_tab2Sub_cont_sel{margin:20px 4% 10px auto;}
.manageView_tab2Sub_SelectMenu{border-bottom: 1px dashed #ddd;padding-top:15px;padding-bottom: 15px;}
.manageView_tab2Sub_cont_sel .right,.manageView_tab2Sub_cont_sel .left{display:inline-block;}
.manageView_tab2Sub_cont_sel .right{float:right;}
.manageView_tab2Sub select{display: inline-block;width: 180px;}
.manageView_tab2Sub input[type="radio"]{margin:2px;}
.manageView_tab2Sub_contTot{width:97%;}
.manageView_tab2Sub_contTot td{text-align:center;}
.manageView_tab2Subs .ecitic-title span i.fa{line-height: 28px;}

.manageView_tab3Sub{display:none;margin-bottom:50px;width:90%;margin-left:5px;}
.manageView_tab4Sub{display:none;margin-bottom:50px;}
/* 已阅读过 */
.work-backlog-content li i.readed, .work-remind-content li i.readed, .work-remind-more li i.readed{background:#aaa;}

.barChartAnisi{border:none;}
.ecitic-right.borderNone{text-align:right;}

/* 版本360视图 */
.bootstrapTabsContMy{margin-left:8px;margin-bottom:25px;}
.bootstrapTabsContMy .echartsWrap{width:927px;height: 378px;border:1px solid #ddd;background:#f5f5f5;float:left;margin-top: 15px;/* border:1px solid red; */position: relative;}
.bootstrapTabsContMy .echartsWrap:hover{cursor:pointer;background:#fff;box-shadow:0 0 10px #bbb;}
.bootstrapTabsContMy .echartsWrap .echartsWrapCont{width:927px;height:378px;float:left;/* border:1px solid black; */}
.bootstrapTabsContMy .echartsWrap .echartsWrap_Title{font-size: 16px;padding-top:15px;padding-left:30px;margin-bottom: -15px;}
.bootstrapTabsContMy .echartsWrap .echartsWrap_Title span{font-size:12px;}
.bootstrapTabsContMy .echartsWrap .psData{display: flex;margin-top: -30px;padding: 5px 0;width:100%;background-color: #FAEBD7;position: absolute;bottom: 0;}
.bootstrapTabsContMy .echartsWrap .psData ul li{float:left;margin-right:30px;}
.bootstrapTabsContMy .echartsWrap .psData ul {padding-left:15px;}


/* 首页常用功能 ul 样式 */
#workul {max-height:213px;}

.modal-body{max-height:320px!important;}