/*上传图片*/
	.uploadPicture {min-height:430px;width:100%;position:relative;overflow:auto;}
		.uploadPicture .uploadPicture_btns {width:70px;height:25px;position:absolute;left:50%;top:50%;margin:-28px 0 0 -50px;}
			.uploadPicture .uploadPicture_btns span {width:70px;height:25px;font-size:18px;line-height:56px;text-align:center;color:#fff;cursor:pointer;border-radius:3px;background:#00b7ee;display:block;}
				.uploadPicture .uploadPicture_btns input {width:70px;height:25px;background:none;border:none;opacity:0;filter:alpha(opacity=0);position:absolute;top:0;left:0;}