/* 头部颜色值 */
.main_header {border-bottom: 4px solid #5aadc5;}
.main_header .list_tree_nav .tree_first {background-color:#5aadc5;}
.main_header .list_tree_nav li .list_tree_1nav .current {background: #5aadc5;}
.main_header .list_tree_nav .tree_last {background: url(../../img/icon_ecitic.png) no-repeat -91px 1px #317588;}
.main_header .list_tree_nav .tree_last:hover {background: url(../../img/icon_ecitic.png) no-repeat -91px 1px #0c8aad;}

/* 按钮的颜色 */
.ecitic-operation button {border-right: 1px solid #506990;}
.btn-ecitic {background-color:#41b6e2;border-color: #1f87af;}
.btn {border: 2px solid #41b6e2;}
/* 按钮hover或者激活状态 */
.btn-ecitic:hover {background-color: #506990!important;border-color: #506990 !important;}
.btn-ecitic:active:hover, .btn-ecitic.active:hover, .open > .dropdown-toggle.btn-ecitic:hover, .btn-ecitic:active:focus, .btn-ecitic.active:focus, .open > .dropdown-toggle.btn-ecitic:focus, .btn-ecitic:active.focus, .btn-ecitic.active.focus, .open > .dropdown-toggle.btn-ecitic.focus{background-color: #009edb !important ;border-color: #009edb !important;}
.btn-ecitic:active, .btn-ecitic.active, .open > .dropdown-toggle.btn-ecitic {background-color: #009edb!important;border-color: #009edb!important;}
.btn-ecitic:focus, .btn-ecitic.focus {background-color: #009edb!important; border-color: #009edb!important;}
/* 左侧收缩按钮 */
.suo {background-position: -137px -115px;}
.marginLeft0 {background-color: #41b6e2; background-position: -175px -115px;}
/* 提示框 */
.ZebraDialog .ZebraDialog_Title {background: #506990;}
.ZebraDialog .ZebraDialog_Buttons a {background: #506990;}
.ZebraDialog .ZebraDialog_Buttons a:hover {background: #506990;}

/* 各页面标题 */
.ecitic-title span {color: #506990;border-bottom: 3px solid #506990;}
/* iframe颜色 */
.ecitic-title span.title {color:#506990;border-bottom:3px solid #506990}
.ecitic-title .more {color:#506990;}
.ecitic-title em {color:#506990;}
.work-backlog-content li i, .work-remind-content li i, .work-remind-more li i {background:#D23131;}
.work-backlog-content li:hover, .work-remind-content li:hover, .work-remind-more li:hover{color:#506990;}
.work-remind-content li:hover em {background-color:#506990}
.word-content li:hover {color:#506990;}
.word-content li:hover span{color:#506990;}
.work-backlog-content li:hover i, .work-remind-content li:hover i, .work-remind-more li:hover i {background:#506990;}

/* 日历框的颜色 */
.WdateDiv .MTitle {background-color: #506990 !important;}
.WdateDiv .MTitle td {color:#fff;}
.WdateDiv .dpButton {background-color: #506990 !important;color:#fff;}
.WdateDiv .Wselday {background-color: #009edb!important;color:#fff;}
.WdateDiv .WwdayOn {background-color: #506990 !important;}
.WdateDiv .WdayOn {background-color: #506990 !important;}
.WdateDiv .WotherDayOn {background-color: #506990 !important;}

/* 下拉框的选中和hover颜色 */
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color:#506990 !important;}
